.now
{
    display:block;
    margin-top:10px;
   
}
#deleteForm
{
    margin-top:5px;
}
.insideBtn
{
    width:80%;
    margin-left: 25px;

}
#requestSubmit
{
    margin-top:5px;
}

.insideBtnn
{
    width:80%;
    margin-left: 25px;
    margin-top: 20px;

}
#nowContainer
{
    width:20%;
    float:left;
    clear:left;
    margin-top:35px;
}
#staffContainer
{
    float:left;
    width:65%;
    margin-left:100px;
    overflow:hidden;
}
#roww{
    margin-left:-100px;
}
#eventContainer{
    float:left;
    margin-left:100px;
    width:40%;
    
    overflow:hidden;
}
#nowContainer2
{
    float:right;
    width:65%;
    
    overflow:hidden;
}
#btnExpand
{
    float:right;

}
#formContainer
{
    width:30%;
}
.card
{
    margin-top:15px;
}
#info
{
    float:left;
    clear:left;
    width:50%;
}
#photo
{
   float:right;
   width:40%;
}
#visitationDetail
{
    clear:left;
    clear:right;
}
#approveCon
{
    float:right;
    clear:right;
}
#staffDetail
{
    float:right;
 
}
#tableCon
{
    float:right;
    width:75%;
}

    

    
header{
    /* 3490dc */
    background-color:#227dc7 ; 
    color:white;
    overflow:hidden;
    margin-top:30px;
}
#logo{
    float:left;
    margin-left:10px;
    border-radius:10px;
    

}
header h2{
    margin-top:20px;
}
#appNav{
    
    overflow:hidden;
    
}
#appNav a
{
    color:white;
    float:right;
        
    margin-left:10px;
    text-decoration:none;
    font-size:15px;

}
#logout-form
{
    width:100%;
    max-width:100%;
    
}
#logoutBtn
{
    width:100%;
    max-width:100%;
}
#hi{
    text-align: center;
}


