<template>
<div id="app">
    <li class="nav-item dropdown">
        <a id="navbarDropdown" class=" btn btn-primary now nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
            Notifications  
             <span class="caret"></span>
        </a>
        
        <div  class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        
        <ul>
            <li v-for="notification in notifications">
            <a href="/notification" v-on:click="MarkAsRead(notification)" >U have visitor request approval
            "{{ notification.data.rid}}"</a>
            </li>
            <li v-if="notifications.length == 0">
               There is no new notification
            </li>
        </ul>
        </div>
    </li>
</div>
</template>

<script>
    export default {
        props : ['notifications'],
        methods:{
            MarkAsRead: function(notification) {
                var data={
                    id:notification.id
                };
                axios.post('/notification/read',data).then(response => {
                    window.location.href="/post/"+notification.data.post.id;

                });
            }
        }
    }
</script>
